header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 50px;
}

header nav {
    margin-top: 20px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 30px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

header nav ul li img {
    width: 175px;
}


.content {
    width: 900px;
    margin: 0 auto;
    /* padding: 0 30px; */
}

.title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    line-height: 4;
}

.content p {
    font-size: 17px;
}

.content img {
    width: 900px;
    margin: 20px 0px;
}


footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Card Styling */
.card {
    margin: 0px auto 50px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    max-width: 900px;
    line-height: 1.6;
}

.card img {
    width: 100%;
}

/* Title */
.card-title {
    font-size: 24px;
    color: #333333;
    margin-bottom: 15px;
}

/* Description */
.card-description {
    font-size: 16px;
    color: #555555;
    margin-bottom: 15px;
}

/* Divider */
.divider {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 20px 0;
}

/* Reference */
.reference {
    font-size: 14px;
    color: #666666;
}

/* Links */
.reference-link,
.extra-link {
    color: #e57373;
    text-decoration: none;
}

.reference-link:hover,
.extra-link:hover {
    text-decoration: underline;
}

/* Extra Info */
.extra-info {
    font-size: 14px;
    color: #666666;
    margin-top: 10px;
}

